/* universal selector */
* {
    box-sizing: border-box;
}

/* root selector declaring universal colors to be used throughout the css */
:root{
    --background-color: #282828;
    --text-color: white;
    --btn-color: #3500D3;
    --header-color: #190061;
    --cardGal-color: #0C0032;
}

/* body background color */
body{
    background-color: var(--background-color);
}

/* banner image formatting */
#image{
    background: url(../imgs/pokemon_banner.png) no-repeat center / cover;
    padding: 15% 0;
    transform: translateY(150px);

}

#banner{
    transform: translateY(-150px);
}

#library{
    transform: translateY(0px);
}

/* formatting the header with flex and coloring it */
header {
    display: flex;
    justify-content: center;
    color: var(--text-color);
}

/* rows in the html get borders along with colors and formatting */
.pure-g{
    align-items: center;
    transform: translateY(-250px);
    color: var(--text-color);
    text-align: center;
}

#selectLib{
    border-top: solid 2px var(--text-color);
    border-bottom: solid 2px var(--text-color);
}

/* each section is fitting the page and inhabits white text color */
section {
overflow: hidden;
color: var(--text-color);
}

/* each reference tag has background color and text color */
a{
    background-color: var(--btn-color);
    color: var(--text-color);
}

/* on hover the reference tag moves up */
a:hover{
    transform: translateY(-4px);
    transition: all 0.3s ease-in-out;
}

/* once clicked the a tag fades */
a:active{
    background-color: #3500d321;
}