* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
}

.search {
    display: flex;
    
}

main {
    display:flex;
    flex-direction: row;
}

section { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px;
}

.team-spot{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.save-btn {
    display: none;
}